{% extends 'grades/base.html' %}
{% block title %}افزودن درس — {{ class.name }}{% endblock %}
{% block content %}
  <div class="panel" style="max-width:700px; margin:0 auto;">
    <h4>افزودن درس به «{{ class.name }}»</h4>
    <form method="post" class="row g-3">
      {% csrf_token %}
      <div class="col-12">
        {{ form.name.label_tag }}
        {{ form.name }}
      </div>
      <div class="col-12 d-flex justify-content-between">
        <a class="btn btn-secondary" href="{% url 'grades:class_detail' class_id=class.id %}">بازگشت</a>
        <button class="btn btn-primary">اضافه کردن درس</button>
      </div>
    </form>
  </div>
{% endblock %}
